body {
    user-select: none;
    max-width: 1400px;
    margin: auto;
}

a {
    all: unset;
    text-decoration: none;
    color: black;
}

button {
    background-color: transparent;
    border: none;
}

input {
    border: none;
    outline: none;
}

ul {
    list-style: none;
}

h1 {
    font-size: 30px;
    font-weight: 100;
    font-family: 'Shrikhand', sans-serif;
}

h2 {
    @include roboto(24px, 700);
}