*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  max-width: 1400px;
  margin: auto;
}

a {
  all: unset;
  text-decoration: none;
  color: black;
}

button {
  background-color: transparent;
  border: none;
}

input {
  border: none;
  outline: none;
}

ul {
  list-style: none;
}

h1 {
  font-size: 30px;
  font-weight: 100;
  font-family: "Shrikhand", sans-serif;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}

#loader {
  max-width: 1400px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: white;
  position: fixed;
  z-index: 2;
  animation: dispaire 1s 3.7s forwards;
}
#loader p {
  display: flex;
  font-size: 40px;
  font-family: "Shrikhand", sans-serif;
  animation: loader 3.6s forwards ease-in-out;
  transform: translateY(-400px);
  color: #FF79DA;
  text-shadow: 1px 1px 1px #9356DC;
}
#loader p span {
  animation: letter 0.5s forwards linear;
}
#loader p span:nth-child(1) {
  animation-delay: 1.15s;
}
#loader p span:nth-child(2) {
  animation-delay: 1.3s;
}
#loader p span:nth-child(3) {
  animation-delay: 1.45s;
}
#loader p span:nth-child(4) {
  animation-delay: 1.6s;
}
#loader p span:nth-child(5) {
  animation-delay: 1.75s;
}
#loader p span:nth-child(6) {
  animation-delay: 1.9s;
}
#loader p span:nth-child(7) {
  animation-delay: 2.05s;
}
#loader p span:nth-child(8) {
  animation-delay: 2.2s;
}

@media screen and (min-width: 768px) {
  #loader span {
    font-size: 1.3em;
  }
}
header {
  height: 63px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1490196078);
  position: relative;
  z-index: 1;
}
header .fas {
  position: absolute;
  top: 23px;
  left: 23px;
  cursor: pointer;
}
header .fas:hover {
  opacity: 0.5;
}

@media screen and (min-width: 992px) {
  header {
    height: 96px;
  }
  header h1 {
    font-size: 35px;
  }
  header .fas {
    font-size: 22px;
    top: 39px;
    left: 30px;
  }
}
nav {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EAEAEA;
}
nav input {
  width: 143px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  background-color: transparent;
  padding-left: 8px;
  margin-right: 8px;
}
nav input::-moz-placeholder {
  color: #353535;
}
nav input::placeholder, nav .fas {
  color: #353535;
}

footer {
  row-gap: 16px;
  display: flex;
  flex-direction: column;
  background-color: #353535;
  padding: 22px 25px;
}
footer ul {
  display: flex;
  flex-direction: column;
  row-gap: 7px;
}
footer h3 {
  font-size: 18px;
  font-weight: 100;
  font-family: "Shrikhand", sans-serif;
  color: white;
}
footer #ustensil,
footer #hands {
  margin-left: 24px;
}
footer #ustensil::before,
footer #hands::before {
  font-size: 13px;
  content: "";
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  position: absolute;
  top: 3px;
}
footer #ustensil::before {
  content: "\f2e7";
  left: -24px;
}
footer #hands::before {
  content: "\f4c4";
  left: -26px;
}
footer a {
  position: relative;
  font-size: 16px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  color: white;
  cursor: pointer;
}
footer a:hover {
  opacity: 0.6;
}

@media screen and (min-width: 992px) {
  footer {
    -moz-column-gap: 100px;
         column-gap: 100px;
    align-items: center;
    flex-direction: row-reverse;
    padding: 57px 57px 30px;
  }
  footer ul {
    display: flex;
    flex-direction: row;
    -moz-column-gap: 50px;
         column-gap: 50px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  footer {
    row-gap: 30px;
    padding: 40px;
  }
  footer h3 {
    font-size: 24px;
    text-align: center;
  }
  footer ul {
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 10px;
    row-gap: 20px;
  }
  footer ul li {
    width: 50%;
    display: flex;
    justify-content: center;
  }
  footer ul li a {
    font-size: 1.2em;
  }
}
.reservation {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
  padding: 40px 30px;
}
.reservation h2 {
  margin: 0 20px 10px;
}
.reservation p {
  font-size: 18px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}
.reservation a {
  width: 218px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  background: linear-gradient(-10deg, #9356DC -5.2%, #FF79DA 110.74%);
  color: white;
  cursor: pointer;
  margin: 30px 0 10px;
}
.reservation a:hover {
  opacity: 0.85;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3490196078);
}

.fonctionnement {
  row-gap: 26px;
  display: flex;
  flex-direction: column;
  padding: 48px 20px 68px;
}
.fonctionnement ul {
  row-gap: 25px;
  display: flex;
  flex-direction: column;
  padding-left: 12.5px;
  counter-reset: counter;
}
.fonctionnement ul li {
  height: 72px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  background-color: #F6F6F6;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1490196078);
  font-size: 16px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  position: relative;
}
.fonctionnement ul li span {
  margin-left: 70px;
  position: relative;
}
.fonctionnement ul li span::before {
  width: 35px;
  content: "";
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  color: #7E7E7E;
  position: absolute;
  left: -35px;
}
.fonctionnement ul li #phone::before {
  content: "\f3cd";
}
.fonctionnement ul li #list::before {
  content: "\f0ca";
}
.fonctionnement ul li #market::before {
  content: "\f54e";
  color: #9356DC;
}
.fonctionnement ul li::before {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  content: counter(counter);
  counter-increment: counter;
  background-color: #9356DC;
  border-radius: 12px;
  font-size: 14px;
  color: white;
  position: absolute;
  left: -12.5px;
}

.sectCards {
  row-gap: 30px;
  display: flex;
  flex-direction: column;
  padding: 54px 20px 66px;
  background-color: #F6F6F6;
}
.sectCards ul {
  display: flex;
  flex-direction: column;
  row-gap: 18px;
}
.sectCards li {
  height: 251px;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1019607843);
  position: relative;
  transition: 0.2s;
  cursor: pointer;
}
.sectCards li a {
  display: flex;
  flex-direction: column;
  position: relative;
}
.sectCards li a img {
  width: 100%;
  height: 174px;
  -o-object-fit: cover;
     object-fit: cover;
}
.sectCards li a .new {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 29px;
  font-size: 14px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  background-color: #99E2D0;
  color: #008766;
  border-radius: 2px;
  position: absolute;
  top: 16px;
  right: 16px;
}
.sectCards li a p {
  font-size: 18px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  padding: 16px 13px;
}
.sectCards li a p span {
  font-size: 17px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}
.sectCards li .containerHeart {
  position: absolute;
  bottom: 25px;
  right: 25px;
}

@media screen and (min-width: 992px) {
  .reservation h2 {
    font-size: 40px;
    margin-bottom: 20px;
  }
  .fonctionnement {
    padding: 50px 12.5%;
  }
  .fonctionnement ul {
    -moz-column-gap: 30px;
         column-gap: 30px;
    display: flex;
    flex-direction: row;
  }
  .fonctionnement ul li {
    width: 33%;
  }
  .sectCards {
    padding: 30px 12.5%;
  }
  .sectCards ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 50px;
    -moz-column-gap: 100px;
         column-gap: 100px;
  }
  .sectCards ul li {
    width: calc(50% - 50px);
  }
  .sectCards ul li:hover {
    transform: scale(1.1);
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .reservation h2 {
    font-size: 30px;
  }
  .fonctionnement {
    padding: 50px 25%;
  }
  .fonctionnement ul li span {
    margin-left: 100px;
  }
  .fonctionnement ul li span::before {
    left: -50px;
  }
  .sectCards {
    padding: 30px 10%;
  }
  .sectCards ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
  }
  .sectCards ul li {
    width: calc(50% - 25px);
  }
}
.imgRestaurants {
  max-width: 1400px;
  width: 100%;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 63px;
  z-index: -1;
}

.sectMenus {
  row-gap: 40px;
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
  border-radius: 40px 40px 0 0;
  padding: 32px 13px 0;
  margin-top: 220px;
}
.sectMenus .titleRestaurants {
  font-size: 28px;
  font-weight: 100;
  font-family: "Shrikhand", sans-serif;
  position: relative;
}
.sectMenus .titleRestaurants .containerHeart {
  position: absolute;
  top: 14%;
  right: 25px;
}
.sectMenus .titleRestaurants .containerHeart .fa-heart {
  font-weight: 100;
}
.sectMenus .containerMenus {
  row-gap: 12px;
  display: flex;
  flex-direction: column;
}
.sectMenus .containerMenus .typeMenus {
  font-size: 16px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}
.sectMenus .containerMenus .typeMenus::after {
  content: "";
  display: flex;
  width: 40px;
  height: 2px;
  background-color: #99E2D0;
  margin-top: 4px;
}
.sectMenus .containerMenus ul {
  row-gap: 12px;
  display: flex;
  flex-direction: column;
}
.sectMenus .containerMenus ul li {
  width: 100%;
  height: 69px;
  display: flex;
  align-items: end;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1019607843);
  background-color: white;
  border-radius: 15px;
  animation: happen 1.5s both;
}
.sectMenus .containerMenus ul li:nth-child(1) {
  animation-delay: 0.5s;
}
.sectMenus .containerMenus ul li:nth-child(2) {
  animation-delay: 1s;
}
.sectMenus .containerMenus ul li:nth-child(3) {
  animation-delay: 1.5s;
}
.sectMenus .containerMenus ul li:nth-child(4) {
  animation-delay: 2s;
}
.sectMenus .containerMenus ul li::after {
  display: flex;
  font-size: 0px;
  align-items: center;
  justify-content: center;
  width: 0;
  height: 69px;
  content: "\f058";
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  background-color: #99E2D0;
  border-radius: 0 15px 15px 0;
  transition: 0.5s;
  color: white;
}
.sectMenus .containerMenus ul li p {
  width: 80%;
  row-gap: 4px;
  display: flex;
  flex-direction: column;
  padding: 12px 15px;
  transition: 0.5s;
}
.sectMenus .containerMenus ul li p span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 15px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}
.sectMenus .containerMenus ul li p .bold {
  font-size: 18px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}
.sectMenus .containerMenus ul li i {
  width: 20%;
  font-style: normal;
  padding: 13px 15px;
  transition: 0.5s;
}
.sectMenus .containerMenus ul li:hover::after {
  width: 59px;
  font-size: 20px;
}
.sectMenus .containerMenus ul li:hover p {
  width: calc(80% - 59px);
}
.sectMenus a {
  width: 218px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  background: linear-gradient(-10deg, #9356DC -5.2%, #FF79DA 110.74%);
  color: white;
  cursor: pointer;
  margin: 0 auto 40px;
}
.sectMenus a:hover {
  opacity: 0.85;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3490196078);
}

@media screen and (min-width: 992px) {
  .imgRestaurants {
    height: 383px;
    top: 96px;
  }
  .sectMenus {
    margin: 343px 12.5% 0;
    padding: 51px 12.5% 0;
  }
  .sectMenus .titleRestaurants {
    display: flex;
    justify-content: center;
  }
  .sectMenus .titleRestaurants .containerHeart {
    right: 23%;
  }
  .sectMenus .containerMenus ul li p {
    width: 90%;
  }
  .sectMenus .containerMenus ul li i {
    width: 10%;
  }
  .sectMenus .containerMenus ul li:hover p {
    width: calc(90% - 59px);
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .sectMenus {
    margin: 220px 10% 0;
    padding: 51px 10% 0;
  }
  .sectMenus .titleRestaurants {
    display: flex;
    justify-content: center;
  }
  .sectMenus .titleRestaurants .containerHeart {
    right: 15%;
  }
  .sectMenus .containerMenus ul li p {
    width: 90%;
  }
  .sectMenus .containerMenus ul li i {
    width: 10%;
  }
  .sectMenus .containerMenus ul li:hover p {
    width: calc(90% - 59px);
  }
}
.containerHeart {
  width: 28px;
  height: 28px;
}
.containerHeart .fa-heart {
  font-size: 24px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  cursor: pointer;
}

.containerHeart:hover .fa-heart {
  animation: heart 0.5s 1 linear forwards;
}

@keyframes heart {
  0% {
    font-size: 24px;
  }
  49% {
    font-weight: 100;
  }
  50% {
    background: -webkit-linear-gradient(-10deg, #9356DC -5.2%, #FF79DA 110.74%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
            background-clip: text;
    font-weight: 900;
    font-size: 0;
  }
  100% {
    background: -webkit-linear-gradient(-10deg, #9356DC -5.2%, #FF79DA 110.74%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
            background-clip: text;
    font-weight: 900;
    font-size: 24px;
  }
}
@keyframes happen {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes loader {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
    transform: translateY(0px);
  }
  33% {
    transform: translateY(0px);
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translateY(0px);
    opacity: 0;
  }
}
@keyframes letter {
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes dispaire {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -5;
  }
}/*# sourceMappingURL=main.css.map */