*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  all: unset;
  text-decoration: none;
  color: black;
}

button {
  background-color: transparent;
  border: none;
}

input {
  border: none;
  outline: none;
}

ul {
  list-style: none;
}

h1 {
  font-size: 30px;
  font-weight: 100;
  font-family: "Shrikhand", sans-serif;
}

#loader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: white;
  position: fixed;
  z-index: 2;
  animation: dispaire 1s 3.7s forwards;
}
#loader p {
  display: flex;
  font-size: 40px;
  font-family: "Shrikhand", sans-serif;
  animation: loader 3.6s forwards ease-in-out;
  transform: translateY(-400px);
  color: #FF79DA;
  text-shadow: 1px 1px 1px #9356DC;
}
#loader p span {
  animation: letter 0.5s forwards linear;
}
#loader p span:nth-child(1) {
  animation-delay: 1.15s;
}
#loader p span:nth-child(2) {
  animation-delay: 1.3s;
}
#loader p span:nth-child(3) {
  animation-delay: 1.45s;
}
#loader p span:nth-child(4) {
  animation-delay: 1.6s;
}
#loader p span:nth-child(5) {
  animation-delay: 1.75s;
}
#loader p span:nth-child(6) {
  animation-delay: 1.9s;
}
#loader p span:nth-child(7) {
  animation-delay: 2.05s;
}
#loader p span:nth-child(8) {
  animation-delay: 2.2s;
}

@media screen and (min-width: 768px) {
  #loader span {
    font-size: 1.3em;
  }
}
header {
  height: 63px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1490196078);
  position: relative;
  z-index: 1;
}
header .fa-arrow-left {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 1.2em;
  border-radius: 15px;
  background: -webkit-linear-gradient(-10deg, #9356DC -5.2%, #FF79DA 110.74%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  position: absolute;
  top: 18px;
  left: 20px;
  transition: 0.2s;
}
header .fa-arrow-left:hover {
  box-shadow: none;
  opacity: 0.9;
}

@media screen and (min-width: 992px) {
  header {
    height: 96px;
  }
  header .fa-arrow-left {
    font-size: 1.1em;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1490196078);
    border: solid 1px rgba(0, 0, 0, 0.1490196078);
    top: 34px;
    left: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  header {
    height: 96px;
  }
  header .fa-arrow-left {
    font-size: 1.8em;
    top: 34px;
    left: 30px;
  }
}
nav {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EAEAEA;
}
nav .fa-location-dot {
  color: #353535;
}
nav input {
  text-align: center;
  width: 145px;
  height: 20px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  background-color: #EAEAEA;
  padding-left: 8px;
}
nav input::-moz-placeholder {
  color: #353535;
}
nav input::placeholder {
  color: #353535;
}

footer {
  row-gap: 16px;
  display: flex;
  flex-direction: column;
  background-color: #353535;
  padding: 22px 25px;
}
footer h3 {
  font-size: 18px;
  font-weight: 100;
  font-family: "Shrikhand", sans-serif;
  color: white;
}
footer ul {
  display: flex;
  flex-direction: column;
  row-gap: 7px;
}
footer ul a {
  position: relative;
  font-size: 16px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  color: white;
  cursor: pointer;
}
footer ul a::before {
  font-size: 13px;
  content: "";
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  position: absolute;
  top: 2px;
  left: -20px;
}
footer ul a:hover {
  opacity: 0.5;
}
footer ul #ustensil,
footer ul #hands {
  margin-left: 20px;
}
footer ul #ustensil::before {
  content: "\f2e7";
}
footer ul #hands::before {
  content: "\f4c4";
}

@media screen and (min-width: 992px) {
  footer {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    padding: 60px 55px 30px;
    -moz-column-gap: 60px;
         column-gap: 60px;
  }
  footer ul {
    display: flex;
    flex-direction: row;
    -moz-column-gap: 50px;
         column-gap: 50px;
  }
  footer ul a::before {
    left: -25px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  footer {
    align-items: center;
    padding: 50px 180px;
    row-gap: 25px;
  }
  footer h3 {
    font-size: 30px;
  }
  footer ul {
    display: flex;
    flex-direction: row;
    row-gap: 15px;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  footer ul a {
    font-size: 20px;
  }
  footer ul a::before {
    font-size: 20px;
    top: 5px;
    left: -30px;
  }
}
.reservation {
  row-gap: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #F6F6F6;
  padding: 40px 30px;
}
.reservation h2 {
  font-size: 24px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  padding: 0 15px;
}
.reservation p {
  font-size: 18px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  color: #353535;
}
.reservation a {
  width: 218px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  border-radius: 25px;
  background: linear-gradient(-10deg, #9356DC -5.2%, #FF79DA 110.74%);
  color: white;
  margin: 15px 0;
}
.reservation a:hover {
  opacity: 0.85;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3490196078);
}

.fonctionnement {
  row-gap: 26px;
  display: flex;
  flex-direction: column;
  padding: 48px 20px;
}
.fonctionnement h2 {
  font-size: 24px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}
.fonctionnement ul {
  counter-reset: counter;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}
.fonctionnement ul li {
  height: 72px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  background-color: #F6F6F6;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1490196078);
  position: relative;
  margin-left: 12px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.fonctionnement ul li span {
  display: flex;
  flex-direction: row;
  margin-left: 32px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}
.fonctionnement ul li span::before {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  color: #7E7E7E;
  margin-right: 20px;
  content: "";
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
}
.fonctionnement ul li #phone::before {
  content: "\f3cd";
}
.fonctionnement ul li #list::before {
  content: "\f0ca";
}
.fonctionnement ul li #market::before {
  content: "\f54e";
  color: #9356DC;
}
.fonctionnement ul li::before {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  content: counter(counter);
  counter-increment: counter;
  font-size: 14px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  background-color: #9356DC;
  border-radius: 12px;
  color: white;
  position: absolute;
  left: -12px;
}

.sectCards {
  row-gap: 25px;
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
  padding: 54px 20px 66px;
}
.sectCards h2 {
  font-size: 24px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}
.sectCards ul {
  display: flex;
  flex-direction: column;
  row-gap: 18px;
}
.sectCards ul img {
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: 174px;
  -o-object-fit: cover;
     object-fit: cover;
}
.sectCards ul .desc {
  height: 77px;
  display: flex;
  background-color: white;
  border-radius: 0 0 15px 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1019607843);
  position: relative;
  top: -3px;
}
.sectCards ul .desc p {
  width: 265px;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  padding: 16px 20px 16px 13px;
}
.sectCards ul .desc p span {
  font-size: 17px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}
.sectCards ul .desc .containerHeart {
  position: absolute;
  top: 23px;
  right: 25px;
}

@media screen and (min-width: 992px) {
  .reservation h2 {
    font-size: 40px;
  }
  .fonctionnement {
    padding: 50px 150px;
  }
  .fonctionnement ul {
    display: flex;
    flex-direction: row;
    -moz-column-gap: 24px;
         column-gap: 24px;
  }
  .fonctionnement ul li {
    width: 33%;
  }
  .sectCards {
    padding: 30px 180px;
  }
  .sectCards ul {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    -moz-column-gap: 100px;
         column-gap: 100px;
    row-gap: 50px;
  }
  .sectCards ul li {
    width: calc(50% - 50px);
    cursor: pointer;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .fonctionnement {
    padding: unset;
    padding: 50px 25%;
  }
  .fonctionnement ul li span {
    margin-left: 47px;
  }
  .fonctionnement ul li span::before {
    margin-right: 30px;
  }
  .sectCards {
    padding: 30px 80px;
  }
  .sectCards ul {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    -moz-column-gap: 80px;
         column-gap: 80px;
    row-gap: 50px;
  }
  .sectCards ul li {
    width: calc(50% - 40px);
    cursor: pointer;
  }
}
.imgRestaurants {
  width: 100%;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  z-index: -1;
  top: 63px;
}

.sectMenus {
  row-gap: 40px;
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
  border-radius: 40px;
  padding: 40px 13px;
  margin-top: 220px;
}
.sectMenus .titleRestaurants {
  display: flex;
  justify-content: space-between;
}
.sectMenus .titleRestaurants span {
  font-size: 28px;
  font-weight: 100;
  font-family: "Shrikhand", sans-serif;
}
.sectMenus .titleRestaurants .containerHeart {
  margin-right: 28px;
  position: relative;
  top: 6px;
}
.sectMenus .containerMenus {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
.sectMenus .containerMenus .typeMenus {
  font-size: 16px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}
.sectMenus .containerMenus .typeMenus::after {
  content: "";
  display: flex;
  margin-top: 4px;
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
}
.sectMenus .containerMenus ul {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
.sectMenus .containerMenus ul li {
  height: 69px;
  display: flex;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1019607843);
  font-size: 15px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  animation: happen 1.5s both;
}
.sectMenus .containerMenus ul li:nth-child(1) {
  animation-delay: 0.5s;
}
.sectMenus .containerMenus ul li:nth-child(2) {
  animation-delay: 1s;
}
.sectMenus .containerMenus ul li:nth-child(3) {
  animation-delay: 1.5s;
}
.sectMenus .containerMenus ul li:nth-child(4) {
  animation-delay: 2s;
}
.sectMenus .containerMenus ul li p {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 18px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  padding: 12px 15px;
  line-height: 22px;
}
.sectMenus .containerMenus ul li span {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.sectMenus .containerMenus ul li b {
  display: flex;
  align-items: end;
  padding-bottom: 14px;
}
.sectMenus .containerMenus ul li b::after {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0;
  height: 69px;
  content: "\f058";
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  background-color: #99E2D0;
  border-radius: 0 15px 15px 0;
  margin-left: 15px;
  transition: 0.5s;
  color: white;
  font-size: 0;
  position: relative;
  top: 14px;
}
.sectMenus .containerMenus ul li:hover b::after {
  width: 59px;
  font-size: 20px;
}
.sectMenus a {
  width: 218px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  border-radius: 25px;
  background: linear-gradient(-10deg, #9356DC -5.2%, #FF79DA 110.74%);
  color: white;
  margin: auto;
}
.sectMenus a:hover {
  opacity: 0.85;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3490196078);
}

@media screen and (min-width: 992px) {
  .imgRestaurants {
    height: 383px;
    top: 96px;
  }
  .sectMenus {
    margin: 342px 12.5% 0;
    padding: 50px 12.5% 40px;
  }
  .sectMenus .titleRestaurants {
    justify-content: center;
    -moz-column-gap: 24px;
         column-gap: 24px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .imgRestaurants {
    top: 96px;
  }
  .sectMenus {
    margin: 220px 10% 0;
    padding: 50px 12.5% 40px;
  }
  .sectMenus .titleRestaurants {
    justify-content: center;
    -moz-column-gap: 24px;
         column-gap: 24px;
  }
}
.containerHeart {
  width: 28px;
  height: 28px;
}
.containerHeart i {
  width: 28px;
  height: 28px;
  display: flex;
  font-size: 25px;
  align-items: center;
  justify-content: center;
  position: absolute;
  cursor: pointer;
}
.containerHeart .far {
  transition: 1s;
}
.containerHeart .fas {
  font-size: 0;
  background: -webkit-linear-gradient(-10deg, #9356DC -5.2%, #FF79DA 110.74%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  transition: 1s;
}

.containerHeart:hover .far {
  opacity: 0;
  font-size: 0;
}
.containerHeart:hover .fas {
  animation: heart 0.5s forwards;
}

@keyframes heart {
  0% {
    opacity: 0;
  }
  100% {
    font-size: 25px;
    opacity: 1;
  }
}
@keyframes happen {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes loader {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
    transform: translateY(0px);
  }
  33% {
    transform: translateY(0px);
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translateY(0px);
    opacity: 0;
  }
}
@keyframes letter {
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes dispaire {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -5;
  }
}/*# sourceMappingURL=main.css.map */