*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  all: unset;
  text-decoration: none;
  color: black;
}

button {
  background-color: transparent;
  border: none;
}

input {
  border: none;
  outline: none;
}

ul {
  list-style: none;
}

h1 {
  font-size: 30px;
  font-weight: 100;
  font-family: "Shrikhand", sans-serif;
}

header {
  height: 63px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1490196078);
}
header .fa-arrow-left {
  font-size: 1.2em;
  position: absolute;
  top: 23px;
  left: 23px;
}

nav {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EAEAEA;
}
nav .fa-location-dot {
  color: #353535;
}
nav input {
  text-align: center;
  width: 35%;
  height: 20px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  background-color: #EAEAEA;
  padding-left: 10px;
}
nav input::-moz-placeholder {
  color: #353535;
}
nav input::placeholder {
  color: #353535;
}

footer {
  row-gap: 16px;
  display: flex;
  flex-direction: column;
  background-color: #353535;
  padding: 22px 25px;
}
footer h3 {
  font-size: 18px;
  font-weight: 100;
  font-family: "Shrikhand", sans-serif;
  color: white;
}
footer ul {
  display: flex;
  flex-direction: column;
  row-gap: 7px;
}
footer ul a {
  position: relative;
  font-size: 16px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  color: white;
}
footer ul a::before {
  font-size: 13px;
  content: "";
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  position: absolute;
  top: 2px;
  left: -20px;
}
footer ul a:hover {
  opacity: 0.5;
}
footer ul #ustensil,
footer ul #hands {
  margin-left: 20px;
}
footer ul #ustensil::before {
  content: "\f2e7";
}
footer ul #hands::before {
  content: "\f4c4";
}

.reservation {
  row-gap: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #F6F6F6;
  padding: 40px 30px;
}
.reservation h2 {
  font-size: 24px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  padding: 0 15px;
}
.reservation p {
  font-size: 18px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  color: #353535;
}
.reservation a {
  width: 218px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  border-radius: 25px;
  background: linear-gradient(-10deg, #9356DC -5.2%, #FF79DA 110.74%);
  color: white;
  margin: 15px 0;
}
.reservation a:hover {
  opacity: 0.85;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3490196078);
}

.fonctionnement {
  row-gap: 26px;
  display: flex;
  flex-direction: column;
  padding: 48px 20px;
}
.fonctionnement h2 {
  font-size: 24px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}
.fonctionnement ul {
  counter-reset: counter;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}
.fonctionnement ul li {
  height: 72px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  background-color: #F6F6F6;
  position: relative;
  margin-left: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1490196078);
}
.fonctionnement ul li span {
  display: flex;
  flex-direction: row;
  margin-left: 32px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}
.fonctionnement ul li span::before {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  color: #7E7E7E;
  margin-right: 20px;
  content: "";
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
}
.fonctionnement ul li #phone::before {
  content: "\f3cd";
}
.fonctionnement ul li #list::before {
  content: "\f0ca";
}
.fonctionnement ul li #market::before {
  content: "\f54e";
  color: #9356DC;
}
.fonctionnement ul li::before {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  content: counter(counter);
  counter-increment: counter;
  font-size: 14px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  background-color: #9356DC;
  border-radius: 12px;
  color: white;
  position: absolute;
  left: -12px;
}

.sectCards {
  row-gap: 25px;
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
  padding: 54px 20px 66px;
}
.sectCards h2 {
  font-size: 24px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}
.sectCards ul {
  display: flex;
  flex-direction: column;
  row-gap: 18px;
}
.sectCards ul img {
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: 174px;
  -o-object-fit: cover;
     object-fit: cover;
}
.sectCards ul .desc {
  height: 77px;
  display: flex;
  background-color: white;
  border-radius: 0 0 15px 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1019607843);
  position: relative;
  top: -3px;
}
.sectCards ul .desc p {
  width: 265px;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  padding: 16px 20px 16px 13px;
}
.sectCards ul .desc p span {
  font-size: 17px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}
.sectCards ul .desc .containerHeart {
  position: absolute;
  top: 23px;
  right: 25px;
}

.imgRestaurants {
  width: 100%;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  z-index: -1;
  top: 63px;
}

.sectMenus {
  row-gap: 40px;
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
  border-radius: 40px;
  padding: 32px 13px;
  margin-top: 220px;
}
.sectMenus span {
  display: flex;
  justify-content: space-between;
}
.sectMenus span h2 {
  font-size: 28px;
  font-weight: 100;
  font-family: "Shrikhand", sans-serif;
}
.sectMenus span .containerHeart {
  margin-right: 28px;
  position: relative;
  top: 6px;
}
.sectMenus .containerMenus {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
.sectMenus .containerMenus .typeMenus {
  font-size: 16px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}
.sectMenus .containerMenus .typeMenus::after {
  content: "";
  display: flex;
  margin-top: 4px;
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
}
.sectMenus .containerMenus ul {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
.sectMenus .containerMenus ul li {
  height: 69px;
  display: flex;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1019607843);
  font-size: 15px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}
.sectMenus .containerMenus ul li p {
  width: 88%;
  font-size: 18px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  line-height: 22px;
  padding: 12px 15px;
}
.sectMenus .containerMenus ul li span {
  font-size: 15px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}
.sectMenus .containerMenus ul li b {
  margin-top: 37px;
}

.containerHeart {
  width: 28px;
  height: 28px;
}
.containerHeart i {
  font-size: 1.5em;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
.containerHeart .fas {
  position: relative;
  z-index: 1;
  opacity: 0;
  font-size: 0;
  background: -webkit-linear-gradient(-10deg, #9356DC -5.2%, #FF79DA 110.74%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
}

.containerHeart:hover .fas {
  animation: heart 0.5s forwards;
}

@keyframes heart {
  100% {
    opacity: 1;
    font-size: 1.65em;
    margin-top: 1.5px;
  }
}/*# sourceMappingURL=main.css.map */