footer {
    row-gap: 16px;
    @include flex-column;
    background-color: #353535;
    padding: 22px 25px;

    ul {
        @include flex-column;
        row-gap: 7px;
    }

    h3 {
        font-size: 18px;
        font-weight: 100;
        font-family: 'Shrikhand', sans-serif;
        color: white;
    }

    #ustensil, 
    #hands {
        margin-left: 24px;
    }

    #ustensil::before, 
    #hands::before {
        font-size: 13px;
        @include fontAwesome;
        position: absolute;
        top: 3px;
    }

    #ustensil::before {
        content: '\f2e7';
        left: -24px;
    }

    #hands::before {
        content: '\f4c4';
        left: -26px;
    }

    a {
        position: relative;
        @include roboto(16px, 500);
        color: white;
        cursor: pointer;
    }

    a:hover {
        opacity: .6;
    }
}

@media screen and (min-width: 992px) {
    footer {
        column-gap: 100px;
        align-items: center;
        flex-direction: row-reverse;
        padding: 57px 57px 30px;

        ul {
            @include flex-row;
            column-gap: 50px;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    footer {
        row-gap: 30px;
        padding: 40px;

        h3 {
            font-size: 24px;
            text-align: center;
        }

        ul {
            flex-wrap: wrap;
            flex-direction: row;
            margin-bottom: 10px;
            row-gap: 20px;

            li {
                width: 50%;
                display: flex;
                justify-content: center;

                a {
                    font-size: 1.2em;
                }
            }
        }
    }
}