footer {
    row-gap: 16px;
    @include flex-column;
    background-color: #353535;
    padding: 22px 25px;

    h3 {
        font-size: 18px;
        font-weight: 100;
        font-family: 'Shrikhand', sans-serif;
        color: white;
    }

    ul {
        @include flex-column;
        row-gap: 7px;

        a {
            position: relative;
            @include roboto(16px, 500);
            color: white;
            cursor: pointer;
        }

        a::before {
            font-size: 13px;
            @include fontAwesome;
            position: absolute;
            top: 2px;
            left: -20px;
        }

        a:hover {
            opacity: .5;
        }

        #ustensil,
        #hands {
            margin-left: 20px;
        }

        #ustensil::before {
            content: '\f2e7';
        }

        #hands::before {
            content: '\f4c4';
        }
    }
}

@media screen and (min-width: 992px) {
    footer {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        padding: 60px 55px 30px;
        column-gap: 60px;

        ul {
            @include flex-row;
            column-gap: 50px;

            a::before {
                left: -25px;
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    footer {
        align-items: center;
        padding: 50px 180px;
        row-gap: 25px;

        h3 {
            font-size: 30px;
        }

        ul {
            @include flex-row;

            row-gap: 15px;
            flex-wrap: wrap;
            justify-content: space-around;

            a {
                font-size: 20px;
            }

            a::before {
                font-size: 20px;
                top: 5px;
                left: -30px;
            }
        }
    }
}