header {
    height: 63px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    box-shadow: 0 2px 4px #00000026;

    .fa-arrow-left {
        font-size: 1.2em;
        position: absolute;
        top: 23px;
        left: 23px;
    }
}