header {
    height: 63px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px #00000026;
    position: relative;
    z-index: 1;

    .fas {
        position: absolute;
        top: 23px;
        left: 23px;
        cursor: pointer;
    }

    .fas:hover {
        opacity: .5;
    }
}

@media screen and (min-width: 992px) {
    header {
        height: 96px;

        h1 {
            font-size: 35px;
        }

        .fas {
            font-size: 22px;
            top: 39px;
            left: 30px;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) { 
    
}