#loader {
    display: flex;
    align-items: center;
    justify-content: center;
    @include w-h(100%, 100%);
    background-color: white;
    position: fixed;
    z-index: 2;
    animation: dispaire 1s 3.7s forwards;

    p {
        display: flex;
        font-size: 40px;
        font-family: 'Shrikhand', sans-serif;
        animation: loader 3.6s forwards ease-in-out;
        transform: translateY(-400px);
        color: $second-color;
        text-shadow: 1px 1px 1px $primary-color;

        span {
            @for $i from 1 through 8 {
                &:nth-child(#{$i}){
                    animation-delay: calc(1s + calc(.15s * $i));
                }
            }
            animation: letter .5s forwards linear;
        }
    }
}

@media screen and (min-width: 768px) {
    #loader {
        span {
            font-size: 1.3em;
        }
    }
}