nav {
    height: 50px;
    display: flex;
    @include center;
    background-color: #EAEAEA;

    .fa-location-dot {
        color: $text-color;
    }

    input {
        text-align: center;
        @include w-h(145px, 20px);
        @include roboto(16px, 500);
        background-color: #EAEAEA;
        padding-left: 8px;
    }

    input::placeholder {
        color: $text-color;
    }
}