nav {
    height: 50px;
    display: flex;
    @include center;
    background-color: #EAEAEA;

    .fa-location-dot {
        color: $text-color;
    }

    input {
        width: 35%;
        height: 20px;
        text-align: center;
        @include roboto(16px, 500);
        background-color: #EAEAEA;
        padding-left: 10px;
    }

    input::placeholder {
        color: $text-color;
    }
}