nav {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EAEAEA;

    input {
        width: 143px;
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        font-family: 'Roboto', sans-serif;
        background-color: transparent;
        padding-left: 8px;
        margin-right: 8px;
    }

    input::placeholder, .fas {
        color: #353535;
    }
}