.containerHeart {
    @include w-h(28px, 28px);

    i {
        @include w-h(28px, 28px);
        display: flex;
        font-size: 25px;
        @include center;
        position: absolute;
        cursor: pointer;
    }

    .far {
        transition: 1s;
    }

    .fas {
        font-size: 0;
        background: -webkit-linear-gradient(-10deg, $primary-color -5.2%, $second-color 110.74%);
        -webkit-text-fill-color: transparent;
        background-clip: text;
        transition: 1s;
    }
}

.containerHeart:hover {
    .far {
        opacity: 0;
        font-size: 0;
    }

    .fas {
        animation: heart .5s forwards;
    }
}