.containerHeart {
    @include w-h(28px, 28px);

    .fa-heart {
        font-size: 24px;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        cursor: pointer;
    }
}

.containerHeart:hover {
    .fa-heart {
        animation: heart .5s 1 linear forwards;
    }
}