.reservation {
    text-align: center;
    align-items: center;
    @include flex-column;
    background-color: $background-color;
    padding: 40px 30px;

    h2 {
        margin: 0 20px 10px;
    }

    p {
        @include roboto(18px, 300);
    }

    a {
        @include button;
        margin: 30px 0 10px;
    }

    a:hover {
        @include button-hover;
    }
}

.fonctionnement {
    row-gap: 26px;
    @include flex-column;
    padding: 48px 20px 68px;

    ul {
        row-gap: 25px;
        @include flex-column;
        padding-left: 12.5px;
        counter-reset: counter;

        li {
            height: 72px;
            display: flex;
            align-items: center;
            border-radius: 20px;
            background-color: $background-color;
            @include shadow(#00000026);
            @include roboto(16px, 500);
            position: relative;

            span {
                margin-left: 70px;
                position: relative;
            }

            span::before {
                width: 35px;
                @include fontAwesome;
                color: #7E7E7E;
                position: absolute;
                left: -35px;
            }

            #phone::before {
                content: '\f3cd';
            }

            #list::before {
                content: '\f0ca';
            }

            #market::before {
                content: '\f54e';
            }
        }

        li:hover {
            span::before {
                color: $primary-color;
            }
        }

        li::before {
            display: flex;
            @include center;
            @include w-h(24px, 24px);
            content: counter(counter);
            counter-increment: counter;
            background-color: $primary-color;
            border-radius: 12px;
            font-size: 14px;
            color: white;
            position: absolute;
            left: -12.5px;
        }
    }
}

.sectCards {
    row-gap: 30px;
    @include flex-column;
    padding: 54px 20px 66px;
    background-color: $background-color;

    ul {
        @include flex-column;
        row-gap: 18px;
    }

    li {
        height: 251px;
        overflow: hidden;
        border-radius: 15px;
        @include shadow(#0000001A);
        position: relative;
        transition: .2s;
        cursor: pointer;

        a {
            @include flex-column;
            position: relative;

            img {
                @include w-h(100%, 174px);
                object-fit: cover;
            }

            .new {
                display: flex;
                align-items: center;
                justify-content: center;
                @include w-h(80px, 29px);
                @include roboto(14px, 500);
                background-color: $third-color;
                color: $fourth_color;
                border-radius: 2px;
                position: absolute;
                top: 16px;
                right: 16px;
            }

            p {
                @include roboto(18px, 700);
                @include flex-column;
                padding: 16px 13px;

                span {
                    @include roboto(17px, 300);
                }
            }
        }

        .containerHeart {
            position: absolute;
            bottom: 25px;
            right: 25px;
        }
    }
}

@media screen and (min-width: 992px) {
    .reservation h2 {
        font-size: 40px;
        margin-bottom: 20px;
    }

    .fonctionnement {
        padding: 50px 12.5%;

        ul {
            column-gap: 30px;
            @include flex-row;

            li {
                width: 33%;
            }
        }
    }

    .sectCards {
        padding: 30px 12.5%;

        ul {
            @include flex-row;
            flex-wrap: wrap;
            row-gap: 50px;
            column-gap: 100px;

            li {
                width: calc(50% - 50px);
            }

            li:hover {
                transform: scale(1.1);
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .reservation h2 {
        font-size: 30px;
    }

    .fonctionnement {
        padding: 50px 25%;

        ul li {
            span {
                margin-left: 100px;
            }

            span::before {
                left: -50px;
            }
        }
    }

    .sectCards {
        padding: 30px 10%;

        ul {
            @include flex-row;
            flex-wrap: wrap;
            gap: 50px;

            li {
                width: calc(50% - 25px);
            }
        }
    }
}