.reservation {
    row-gap: 15px;
    @include flex-column;
    align-items: center;
    text-align: center;
    background-color: $background-color;
    padding: 40px 30px;

    h2 {
        @include roboto(24px, 700);
        padding: 0 15px;
    }

    p {
        @include roboto(18px, 300);
        color: $text-color;
    }

    a {
        @include button;
        margin: 15px 0;
    }

    a:hover {
        @include button-hover;
    }
}

.fonctionnement {
    row-gap: 26px;
    @include flex-column;
    padding: 48px 20px;

    h2 {
        @include roboto(24px, 700);
    }

    ul {
        counter-reset: counter;
        @include flex-column;
        row-gap: 25px;

        li {
            height: 72px;
            display: flex;
            align-items: center;
            border-radius: 20px;
            background-color: $background-color;
            @include shadow(#00000026);
            position: relative;
            margin-left: 12px;
            user-select: none;

            span {
                @include flex-row;
                margin-left: 32px;
                @include roboto;
            }

            span::before {
                @include w-h(20px, 20px);
                display: flex;
                @include center;
                font-size: 17px;
                color: #7E7E7E;
                margin-right: 20px;
                @include fontAwesome('');
            }

            #phone::before {
                content: '\f3cd';
            }

            #list::before {
                content: '\f0ca';
            }

            #market::before {
                content: '\f54e';
                color: $primary-color;
            }
        }

        li::before {
            display: flex;
            @include center;
            @include w-h(24px, 24px);
            content: counter(counter);
            counter-increment: counter;
            @include roboto(14px, 500);
            background-color: $primary-color;
            border-radius: 12px;
            color: white;
            position: absolute;
            left: -12px;
        }
    }
}

.sectCards {
    row-gap: 25px;
    @include flex-column;
    background-color: $background-color;
    padding: 54px 20px 66px;

    h2 {
        @include roboto(24px, 700);
    }

    ul {
        @include flex-column;
        row-gap: 18px;

        img {
            border-radius: 15px 15px 0 0;
            @include w-h(100%, 174px);
            object-fit: cover;
        }

        .desc {
            height: 77px;
            display: flex;
            background-color: white;
            border-radius: 0 0 15px 15px;
            @include shadow(#0000001A);
            position: relative;
            top: -3px;

            p {
                width: 265px;
                @include flex-column;
                @include roboto(18px, 700);
                padding: 16px 20px 16px 13px;

                span {
                    @include roboto(17px, 300);
                }
            }

            .containerHeart {
                position: absolute;
                top: 23px;
                right: 25px;
            }
        }
    }
}

@media screen and (min-width: 992px) {
    .reservation {
        h2 {
            font-size: 40px;
        }
    }

    .fonctionnement {
        padding: 50px 150px;

        ul {
            @include flex-row;
            column-gap: 24px;

            li {
                width: 33%;
            }
        }
    }

    .sectCards {
        padding: 30px 180px;

        ul {
            flex-wrap: wrap;
            @include flex-row;
            column-gap: 100px;
            row-gap: 50px;

            li {
                width: calc(50% - 50px);
                cursor: pointer;
            }
        }
    }
}