.imgRestaurants {
    @include w-h(100%, 275px);
    object-fit: cover;
    position: absolute;
    z-index: -1;
    top: 63px;
}

.sectMenus {
    row-gap: 40px;
    @include flex-column;
    background-color: $background-color;
    border-radius: 40px;
    padding: 40px 13px;
    margin-top: 220px;

    .titleRestaurants {
        display: flex;
        justify-content: space-between;

        span {
            font-size: 28px;
            font-weight: 100;
            font-family: 'Shrikhand', sans-serif;
        }

        .containerHeart {
            margin-right: 28px;
            position: relative;
            top: 6px;
        }
    }

    .containerMenus {
        @include flex-column;
        row-gap: 12px;

        .typeMenus {
            @include roboto(16px, 300);
            text-transform: uppercase;
        }

        .typeMenus::after {
            content: '';
            display: flex;
            margin-top: 4px;
            @include w-h(40px, 3px);
            background-color: $third-color;
        }

        ul {
            @include flex-column;
            row-gap: 12px;

            li {
                height: 69px;
                display: flex;
                border-radius: 15px;
                background-color: white;
                @include shadow(#0000001A);
                @include roboto(15px, 700);
                @for $i from 1 through 4 {
                    &:nth-child(#{$i}){
                        animation-delay: .5s*$i;
                    }
                }
                animation: happen 1.5s both;

                p {
                    width: 100%;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    @include roboto(18px, 500);
                    padding: 12px 15px;
                    line-height: 22px;
                }

                span {
                    @include flex-column;
                    @include roboto(15px, 300);
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }

                b {
                    display: flex;
                    align-items: end;
                    padding-bottom: 14px;
                }

                b::after {
                    display: flex;
                    @include center;
                    @include w-h(0, 69px);
                    @include fontAwesome('\f058');
                    background-color: $third-color;
                    border-radius: 0 15px 15px 0;
                    margin-left: 15px;
                    transition: .5s;
                    color: white;
                    font-size: 0;
                    position: relative;
                    top: 14px;
                }
            }

            li:hover {
                b::after {
                    width: 59px;
                    font-size: 20px;
                }
            }
        }
    }

    a {
        @include button;
        margin: auto;
    }

    a:hover {
        @include button-hover;
    }
}

@media screen and (min-width: 992px) {
    .imgRestaurants {
        height: 383px;
        top: 96px;
    }

    .sectMenus {
        margin: 342px 12.5% 0;
        padding: 50px 12.5% 40px;

        .titleRestaurants {
            justify-content: center;
            column-gap: 24px;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) { 
    .imgRestaurants {
        top: 96px;
    }

    .sectMenus {
        margin: 220px 10% 0;
        padding: 50px 12.5% 40px;

        .titleRestaurants {
            justify-content: center;
            column-gap: 24px;
        }
    }
}